<div class="contents row">
  <%= form_for @tweet, url: {action: 'update'} do |f| %>
    <h3>
      編集する
    </h3>
    <%= f.text_field :image, name: "image", placeholder: 'Image Url' %>
    <%= f.text_area :text, name: "text", placeholder: 'Text' %>
    <%= f.submit %>
  <% end %>
  </div>